@using NLimit.Web.ClassServices
@model PersonalAccountViewModel

@{
    ViewData["Title"] = "Изменение пароля";
    ViewData["ActivePage"] = ManageNavigationPages.ChangePassword;
}

<h3 class="mb-3">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">

        <partial name="_PersonalDataChangeStatusPartial" />

        <form asp-controller="PersonalData" asp-action="ChangePassword" id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="CurrentPassword" class="form-label">Текущий пароль</label>
                <input asp-for="CurrentPassword" class="form-control-color-info border-2" autocomplete="current-password" aria-required="true" placeholder="Please enter your current password" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">Новый пароль</label>
                <input asp-for="NewPassword" class="form-control-color-info border-2" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Повторите новый пароль</label>
                <input asp-for="ConfirmPassword" class="form-control-color-info border-2" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-info">Изменить пароль</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}