@using NLimit.Web.ClassServices

@{
    ViewData["Title"] = "AboutCourse";
    ViewData["ActivePage"] = ManageNavigationPages.AboutCourse;
}

<div>
    <partial name="_CourseNavigation" />
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header text-center">О курсе</h1>
        </div>
    </div>
</div>