@using NLimit.Web.ClassServices

@{
    ViewData["Title"] = "Attestations";
    ViewData["ActivePage"] = ManageNavigationPages.Attestations;
}

<div>
    <partial name="_CourseNavigation" />
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header text-center">Аттестации</h1>
        </div>
    </div>
</div>
