@using NLimit.Web.ClassServices

@{
    ViewData["Title"] = "AboutCourse";
    ViewData["ActivePage"] = ManageNavigationPages.AboutCourse;
}

<div>
    <partial name="_CourseNavigation" />
</div>

<div class="col-md-12">
    <h1 class="page-header">О курсе</h1>
</div>