@using NLimit.Web.ClassServices

@{
    ViewData["Title"] = "AllCourses";
    ViewData["ActivePage"] = ManageNavigationPages.AllCourses;
}

<div>
    <partial name="_CourseNavigation" />
</div>

<div class="col-md-12">
    <h1 class="page-header">Все курсы</h1>
</div>
