@using NLimit.Web.ClassServices
@model AboutWorkViewModel

@{
    ViewData["Title"] = "Works";
    ViewData["ActivePage"] = ManageNavigationPages.Works;
}

<div>
    <partial name="_CourseNavigation" />
</div>

<h1 class="page-header">Задания</h1>

@if (Model.WorkIsPresent.HasValue && Model.WorkIsPresent.Value)
{
    <div class="col-md-12">
        <div>
            <div class="col-md-6">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Номер</th>
                            <th>Наименование</th>
                            <th>Создатель</th>
                            <th>Статус</th>
                            <th>Исполнитель</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h1>Нет заданий</h1>
}
